<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
		 backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="Spawn Test Suite">
            <directory suffix=".php">tests/</directory>
            <directory suffix=".phpt">tests/libuv/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">Spawn/</directory>
            <exclude>
                <file>./Spawn/Container.php</file>
                <file>./Spawn/UV.php</file>
                <file>./Spawn/UVFunctions.php</file>
                <file>./Spawn/UVHandles.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
